/****************************************
 * common.scss
 * project: Smarmless
 * author: Mark Fehrenbacher
 * email: kendopunk@hotmail.com
 ****************************************/

$fontsize-xxsm: 10px;
$fontsize-xsm: 12px;
$fontsize-sm: 14px;
$fontsize-normal: 16px;
$fontsize-lg: 18px;
$fontsize-xlg: 24px;
$fontsize-xxlg: 28px;

$color-axis: #777;
$color-charcoal-blue: #021829;
$color-gray: #ddd;
$color-green: #0c4;
$color-interactive-blue: #018bbb;
$color-light-gray: #eee;
$color-light-green: #eafad9;
$color-light-tan: #fff9e6;
$color-linen: #faf0e6;